<section>
  <div class="overflow-hidden">
    <div class="flex flex-col justify-center flex-1 px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="w-full max-w-xl mx-auto lg:w-96">
        <div>
          <h2 class="mt-6 text-3xl font-extrabold text-neutral-600"> Categorie Form </h2>
        </div>
        <div class="mt-8">
          <div class="mt-6">
            <form class="space-y-6" [formGroup]="form">
              <div>
                <label for="nomCateg" class="block text-sm font-medium text-neutral-600"> nom Categorie </label>
                <div class="mt-1">
                  <input id="nomCateg" formControlName="nomCateg" name="nomCateg" type="text" autocomplete="nomCateg" required="" placeholder="nom Categorie" class="inputClass">
                </div>
              </div>
              <div>
                <label for="description" class="block text-sm font-medium text-neutral-600"> description </label>
                <div class="mt-1">
                  <input id="description" formControlName="description" name="description" type="text" autocomplete="description" required="" placeholder="description" class="inputClass">
                </div>
              </div>
              <div>
                <button type="submit" class="submitButton" (click)="updateCategory()"> Update Category </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
